# Python
venv/
__pycache__/
*.pyc

# Meshtastic plugin build artifacts
src/plugins/meshtastic/build/

# protobuf temp files
.protobufs/

# OS junk
.DS_Store
Thumbs.db
*:Zone.Identifier

*.o
*.out
*.a
build/
